.likeList__list{
    margin-top: 10px;
    width: 50%;
    background-color: #fff;
    transform: translate(50%, 0%);
  }
  

  .likeList {
    background-color: #fff;
  }
  .likeList__viewAll {
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #fff;
    color: #333;
    font-size: 15px;
  }